

.center-div{
margin: 10%;
background-color: whitesmoke;
border-style: solid;
border-radius: 1px;

}

.center-text-box{
 margin: 10%;
background-color: whitesmoke;
border-style: solid;
border-radius: 1px;
}